body {
  padding-top: 40px;
}

.page-header {
  border-bottom: 1px solid #eee;
}

.footer {
  margin-top: 20px;
  background-color: #ecf0f1;
}

.footer .text-muted {
  margin: 20px 0;
}

.glyphicon-github {
  display: inline-block;
  top: 3px;
  width: 16px;
  height: 16px;
  background: url("/assets/img/github-logo.png") no-repeat;
  -webkit-background-size: 16px 16px;
  background-size: 16px 16px;
}
