{{define "body"}}{{template "header" .}}
{{template "nav"}}

<div class="container">
{{if .PageTitle}}
  <div class="page-header">
    <h1>{{.PageTitle}}{{if .PageSubTitle}}&nbsp;&nbsp;&nbsp;<small>{{.PageSubTitle}}</small>{{end}}</h1>
  </div>
{{end}}

{{.Body}}

</div>

{{template "footer"}}{{end}}
