{{define "einvoice"}}{{template "header"}}
{{template "nav"}}

<div class="container">
  <div class="page-header">
    <h1>E-invoice&nbsp;&nbsp;&nbsp;<small>E-invoice API PoC</small></h1>
  </div>

  <p>Test!</p>
</div>

{{template "footer"}}{{end}}
