{{define "footer"}}<div class="footer">
  <div class="container">
      <p class="text-muted">Powered By <a href="http://golang.org/">Go</a> /
      <a href="http://getbootstrap.com/">Bootstrap</a> / Theme
      <a href="http://bootswatch.com/flatly/">Flatly by Bootswatch</a> /
      <i class="fa fa-github fa-lg"></i> <a href="https://github.com/pigfoot/missmagi">Source Code</a>
    </p>
  </div>
</div>

</body>
</html>{{end}}
